.animal-image-detail {
    height: 500px;
    border-radius: 10%;
    object-fit: cover;
}

.bg_dark {
    background-color: black;
    display: inline-block;
    opacity: 0.8;
}

.card-img-overlay {
    margin-top: 400PX;
}

.detail-title {
    padding-bottom: 30px;
}