.tab-list-item {
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}

.tab-list-item.active {
    background-color: #7FCCE3;
}

.tab-contents-item {
    display: none;
}

.tab-contents-item.show {
    display: block;
}