// ! プロフィール関連
.profile-btn {
    button {
        background-color: #6ccce4;
    }
    button:hover {
        background-color: #67c3da;
        border: none;
        color: black;
    }
}

.font-italic {
    i {
        font-size: 17px;
        margin-right: 5px;
    }
}

// ! ペット関連
.animal-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}