    @import "welfares/profiles";
    @import "welfares/posts";
    @import "welfares/layouts";
    // ! デフォルトの空白を初期化
    body {
        padding: 0;
        margin: 0;
        // background-color: #f5f5f5;
    }
    
    main {
        background-color: #f5f5f5;
    }
    
    // ! オリジナルテンプレート
    .original-hover a:hover {
        font-weight: bold;
    }
    
    // ! ヘッダー関連
    .header-icon {
        border-radius: 50%;
        margin-right: 5px;
    }
    
    .header-navbar {
        background-color: #ffffff;
    }
    
    .welfares-dropdown {
        padding-right: 20px;
        a {
            background-color: #FFBB1E;
            color: #f6f6f6;
        }
        a:hover {
            background-color: #eeaf1b;
            color: #f6f6f6;
            border: none;
        }
        ul a {
            background-color: #ffffff;
            color: black;
        }
        ul a:hover {
            background-color: rgb(224, 224, 224);
            color: black;
        }
    }
    
    .users-dropdown {
        a {
            background-color: #6ccce4;
            color: #f6f6f6;
        }
        a:hover {
            background-color: #67c3da;
            color: #f6f6f6;
            border: none;
        }
        ul a {
            background-color: #ffffff;
            color: black;
        }
        ul a:hover {
            background-color: rgb(224, 224, 224);
            color: black;
        }
    }
    
    // ! フッター関連