<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-white">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <%= image_tag("/assets/logo.png", class: "sidebar-icon") %>
    <span class="fs-4 fw-bold">Furby</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-gauge"></i>
        ダッシュボード
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-paw"></i>
        ペットを新規登録
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-handshake"></i>
        面会日を新規登録
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-bell"></i>
        通知
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong><%= current_welfare.group_name %></strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><%= link_to 'サインアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
    </ul>
  </div>
</div>
