<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="/assets/logo.png" alt="ブランド" width="50" height="50" class="header-icon d-inline-block align-text-top">
      </a>
      <p class="text-muted">&copy; 2023~</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
      <h5>Furbyとは</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Furbyとは</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ご利用マニュアル</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">よくあるご質問</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>愛護団体の方はこちら</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">会員登録はこちら</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ログインはこちら</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>ユーザの方はこちら</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">会員登録はこちら</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ログインはこちら</a></li>
      </ul>
    </div>
  </footer>
</div>
